<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>发送邮件</title>
<link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>
<body>
<h2 style="padding-left: 10px">发送邮件</h2>
<div class='wst-tbar' style="height:50px;padding-left: 10px">
<form method="post" action="{:U('Home/Index/sendEmail','','')}" enctype="multipart/form-data">
   <input type="text" name="email" style="width:200px;" placeholder="邮箱"/>
   <input type="text" name="user" style="width:100px;" placeholder="用户名"/>
   <button type="submit" class="btn btn-success glyphicon glyphicon-plus">确定</button>
</form>
</div>

</body>
</html>   